body{
    height: 100%;
width: 100%;
display: flex;
position:fixed;
align-items: right;
justify-content: center;}

.fcc-btn {
    background-color: blueviolet;
    color: white;
    padding: 15px 25px;
    text-decoration:overline;
    }

.fcc-btn: hover {
    background-color: #223094;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0cm;
    position: fixed
}

.img1{
    width: 100%
    height:100vh
}

h2{
    #texto{
        justify-content: center;
    }
    margin-left: 15cm;;
}
.worldwide {
    color:chocolate;
    front-size: 30px;
    text-align: right;
    padding: 0 0 0 100px;
}

.properties {
    font-size: 60px
    line-height 50px
    font-family: playfair display;
}

h5 {
    margin: 100px;
    color: aqua;
    padding: 20px;
    background-color: black;
    border: solid;
    border-radius: 15px;
}
/* start botones */
.botones {
    display: flex;
}

@media (min-width: 600px);
   